:root {
    font-size: 60%;
  --color-background: #c7d7fe;
  --color-primary-lighter: #0ea5e9;
  --color-primary-light: #0284c7;
  --color-primary: #0369a1;
  --color-primary-dark: #075985;
  --color-primary-darker: #0c4a6e;
  --color-secundary: #16a34a;
  --color-secundary-dark: #15803d;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #38bdf8;
  --color-text-title: #082f49;
  --color-text-complement: #9C98A6;
  --color-text-base: #617180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}